.clearfix {
    overflow: auto;
}
font-family: Times New Roman, Georgia, Serif;
h1   {color: black}

 #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

 #nav li {
    float: left;
}
 #nav a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: centered;
	background-color: #87CEEB;
    padding: 4 px;
    text-decoration: none;
    text-transform: uppercase;
}

 #nav a:hover {
    background-color: #7A991A;
}
 .container{
	width: 1200px;
 }

 #map {
	float:left;
	width: 500px;
    height: 400px;
    background-color: #CCC;
	border:3px solid #87CEEB;
	margin-left: 5%;
	margin-right: auto;
	overflow:hidden;
	}

 #contact_text {
	float:left;
	width: 500px;
	height: 360px;
    border:3px solid #87CEEB;
    padding: 20px;
	margin-left: 5%;
	margin-right: auto;
	overflow:hidden;
}

