/*Author: C_S_W_D: Michael Gusmano, Asif Huda, Syeda, Nosheen, and Joe
License: Pending CSS v1.5
--*/
[class*="col-"] {

}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row:after {
    content: "";
    clear: both;
    display: block;
}
html { 
  background-color: #F5F5F5;
}

#superhead {
	background-color: #CF7100;
    width: 100%;
    position: relative;
    height: 50px;
    padding-top: 10px;
	padding-bottom: 6px;
}
.header {
    color: #333333;
    display: inline-block;
    font-size: .9em;
    line-height: 15px;
    margin: 0 0 22px 4px;
    overflow: hidden;
    vertical-align: middle;
    width: 400px;
}
body {font-family: Times New Roman, Georgia, Serif;
h1   {color: black}

}
/*travelwrap will contain homepage specific css */
 .travelwrap{
	display: block;
	position: relative;
	width: 84%;
	background-color: #CCC;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
 .travelwrap .destinationwrap{
 }
 /*Above this is css for homepage*/
/*This is for the Travler's Blog*/
.travelwrap .BlogHead{
}
.BlogHead .BlogEntries{

}
.BlogEntries img{
	vertical-align: top;
}
.Blog1pic{
	display: inline-block;
	position: relative;
	border-radius: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
 /*This is for the Abous Us page*/
 .container-about{
	 width: 100%;
 }
 
 .aboutteam{
	 display: inline-block;
	 position: static;
	 vertical-align: top;
	 width: 600px;
	 border-radius: 25px;
	 background-color: #CCC;
	 border: 4px solid #CF7100;
	 padding: 15px;
	 margin-top: 0%;
	 margin-left: 3%;
	 margin-right:4%;
 }
 .memberpics{
	display: inline-block;
	vertical-align: top;
	background-color: #CCC;
	width: 500px;
	padding: 4px;
	margin-top: 0%;
	margin-left: 2%;
	margin-right: 3%;
 }
 .memberpics img{
}
 /*This is the end of the Abous Us Styling*/
 /*This is for the Contact Us page*/
 .container{
	width: 1200px;
 }
 .contact{
	width:1000px;
	text-align: center;
	background-color: #CCC;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;

 }
 
 #map {
	float: left;
	background-color: #CCC;
	width: 500px;
	height: 400px;
	padding: 4px;
	margin-top: 1%;
	margin-bottom: 2%;
	margin-left: 6%;
	margin-right: 6%;

}
 #contact_text {
	float: left;
	background-color: #CCC;
	width: 500px;
	height: 400px;
	padding: 4px;
	margin-top: 1%;
	margin-bottom: 2%;
	margin-left: 6%;
	margin-right: 6%;

}
 #message{
	height:165px;
	width: 400px;}
 
 #email{
	margin-left: 5px;
 }
 /*Above is for the Contact Us page*/
.footer {
	display: inline-block;
	vertical-align: top;
	color: #000000;
	background-color: #CCCCCC;
	position: static;
	width: 100%;
	margin-top: 5%;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.footer .bottomnav{
	vertical-align: top;
	color: #000000;
	margin-left: 5%;
}

.footer .bottomcontact{
	vertical-align: top;
	text-align: center;
}
/* ---------- Zoom container ---------- */
.image-zoom-container {
	list-style: none;
	font-size: 0px;
}
.zoom-container {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 31%; /* this value + 2 should = 33% */
	font-size: 16px;
	font-size: 1rem;
	border: 1px solid #fff;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.zoom-container img {
	display: inline-block;
	width: 100%;
	height: auto;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    transition: all .5s ease;
}
.zoom-container .zoom-caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: rgba(0, 0, 0, .5);
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    transition: all .5s ease;
}
.zoom-container .zoom-caption h3 {
	display: block;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	text-transform: uppercase;
	color: #fff;
	margin: 23% 0 0;
	padding: 10px 0;
	border-top: 5px solid rgba(255, 255, 255, .15);
	border-bottom: 5px solid rgba(255, 255, 255, .15);
}
.zoom-container:hover img {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
     transform:scale(1.25);
}
.zoom-container:hover .zoom-caption {
	background: none;
}
@media (max-width: 1199px) {
	.container {
		width: auto;
		padding: 0 10px;
	}
}
@media (max-width: 767px) {

	.zoom-container {
		width: 50%;
	}

}
@media (max-width: 480px) {
	
	.zoom-container {
		width: 100%;
	}
	#map{
		width: 100%;
	}
}


