/*Author: C_S_W_D: Michael Gusmano, Asif Huda, Syeda, Nosheen, and Joe
License: Pending CSS v1.5 --*/
* {
  box-sizing: border-box;}
[class*="col-"] { display: inline-block; position: relative; float: left; }

.col-1 { width: 8.33%;}
.col-2 { width: 16.66%; height: 60px; background-color: #1d508d; padding-top: 10px; padding-bottom: 5px; vertical-align: middle;}
.col-3 { width: 25%;}
.col-4 { width: 33.33%;}
.col-5 { width: 41.66%;}
.col-6 { width: 50%; background-color: rgb(245, 245, 245);}
.col-7 { width: 58.33%;}
.col-8 { width: 66.66%;}
.col-9 { width: 75%;}
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%;}
.col-12 { width: 100%;}
/* ensure later elements do not ignore and override the column rows */
.row:before, .row:after {
  content: "";
  clear: both;
  display: block;}
html { 
  background-color: #FFFFFF;
}
#superhead {
	background-color: #1d508d;
    position: inherit;
    height: 60px;
    padding-top: 12px;
	padding-bottom: 6px;
	z-index: 999;
}
.header {
    color: #FFFFFF;
    display: inline-block;
    font-size: 1em;
    line-height: 10px;
    vertical-align: middle;
    width: 400px;
    position: relative;
    }

a:link, a:visited {text-decoration: none;color: #FFF; font-weight:bold;}

nav ul {padding:0; margin:0; list-style: none; background:#FFF; height:40px; z-index: 999; padding:10px;}
nav ul li {display: inline-block; position:relative; font-size: 14px;}
nav ul li a, ul li a:visited {display:inline-block; color:#000; width:168px; height:auto; line-height:20px; padding:10px; text-align:center;}
nav ul li a:hover {display:block; color:#000; background:#FFF; line-height:20px; padding:10px;}
nav ul li ul, ul li:hover ul li ul {display: none;}
nav ul li:hover ul {display:block; position:absolute; top:36px; left:0; height:auto;}
nav ul li:hover ul li a {display:block; text-align:left; border-bottom:1px solid #FFF;}

nav ul li:hover ul li:hover ul {display:block; position:absolute; left:124px; top:0;}

body {font-family: 'Segoe UI', Tahoma, sans-serif; padding: 0; margin: 0;}
h1   {color: black}
}
/*travelwrap will contain homepage specific css */
.wrapper{
	width: 100%;
	background-color: rgb(245, 245, 245);
}
.travelwrap{
	display: inline-block;
	position: relative;
	background-color: rgb(245, 245, 245);
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	vertical-align: top;
	text-align: center;
	margin-top: 1%;
	margin-left:1%;
	width: 50%;
}
#slideshow{
	display: inline-block;
	position: relative;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	vertical-align: top;
	text-align: center;
	margin-top: 1%;
	width: 50%;
	margin-right: 1%;
}
.destinationwrap{
	display: inline-block;
	position: relative;
	background-color: rgb(245, 245, 245);
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	vertical-align: top;
	text-align: center;
	margin-top: 1%;
}
/*This is for the Travler's Blog*/
 .BlogHead{
	margin-left: 25%;
 	margin-right: 25%;
}
.destinationwrap .BlogEntries{
	margin-left: 8.33%;
 	margin-right: 8.33%;
}
.BlogEntries img{
	vertical-align: top;
}
 /*This is for the Abous Us page*/
 .container-about{
 	background-color: rgb(245, 245, 245);
 	margin-left: 8.33%;
 	margin-right: 8.33%;
 }	
.container-about h2{
	text-align: center;
 	margin-left: 25%;
 	margin-right: 25%;
 }
 }
 .aboutteam{
 	background-color: rgb(245, 245, 245);
	 vertical-align: top;
	 margin: 0;
	 text-align: center;
	}
	.aboutteam p{
		margin-top: 10%;
		vertical-align: top;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 50px;
		padding-right: 20px;
	}
.aboutteam img{
	margin-right: 8%;
	margin-left: 20%;
}
 /*This is for the Contact Us page*/
.contact{
 	margin-left: 25%;
 	margin-right: 25%;
 }
 #map {
	display: inline-block;
	width: 500px;
	height: 400px;
	padding: 4px;
	margin-top: 1%;
	margin-left: 6%;
	margin-right: 8.33%;

}
 #contact_text {
	display: inline-block;
	vertical-align: top;
	width: 500px;
	height: 400px;
	padding: 4px;
	margin-top: 1%;
	margin-left: 8.33%;
}

.footer {
	display: inline-block;
	vertical-align: top;
	color: #000000;
	background-color: rgb(245, 245, 245);
	font-size: 14px;
	position: relative;
	width: 100%;
	margin-top: 1%;

}
.footer .bottomnav{
	list-style-type: none;
	vertical-align: top;
	color: #000000;
	margin-left: 10%;
}
.footer .bottomcontact{
	vertical-align: top;
}
.footer li{
	list-style-type: none;
	text-align: left;
}
/* ---------- Zoom container ---------- */
.image-zoom-container {
	list-style: none;
	font-size: 0px;
}
.zoom-container {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 31.33%; /* this value + 2 should = 33% */
	font-size: 16px;
	font-size: 1rem;
	border: 1px solid #fff;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.zoom-container img {
	display: block;
	width:100%;
	height:auto;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    transition: all .5s ease;
}
.zoom-container .zoom-caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: rgba(0, 0, 0, .5);
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    transition: all .5s ease;
}
.zoom-container .zoom-caption h3 {
	display: block;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	text-transform: uppercase;
	color: #fff;
	margin: 23% 0 0;
	padding: 10px 0;
	border-top: 5px solid rgba(255, 255, 255, .15);
	border-bottom: 5px solid rgba(255, 255, 255, .15);
}
.zoom-container:hover img {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
     transform:scale(1.25);
}
.zoom-container:hover .zoom-caption {
	background: none;
}

/** LIGHTBOX MARKUP **/

.lightbox {
    /** Default lightbox to hidden */
    display: none;

    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}

.lightbox img {
    /** Pad the lightbox image */
    max-width: 500px;
    max-height: 500px;
    margin-top: 20%;
}

.lightbox:target {
    /** Remove default browser outline */
    outline: none;

    /** Unhide lightbox **/
    display: block;
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {

}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px){
[class*="col-"] {
  width: 100%;}

	.zoom-container {
		width: 50%;
		height: auto;
	}
	.compass img{
		width: 75%;
		height: auto;
	}
	.header{
		font-size: auto;
	}
	nav ul li{
		width:100%;
	}
}
@media screen and (min-device-width : 320px) and (max-width: 480px) {
	[class*="col-"] {
  width: 100%;}

.header{
		font-size: 14px; text-align: center;
	}
	nav ul li{
		display: none;
	}
	.zoom-container {
		width: 100%;
		height: auto;
	}
	.zoom-container .zoom-caption {
		background: none;
	}
	#map{
		width: 100%;
	}
	.compass img{
		width: 100%;
		height: auto;
	}
}
#slideshow {
		    position: relative;
		    width: inherit;
		    height: 266px;
		    padding: 10px;
		    margin-left:8.33%;
		   	margin-top:1%;
		}

		#slideshow > div {
		    position: absolute;
		    top: 10px;
		    left: 10px;
		    right: 10px;
		    bottom: 10px;

		}


